$breakpoint-xs: 0rem;
$breakpoint-sm: 30rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 75rem;
$breakpoint-hd: 100rem;
$breakpoint-mob: 26.25rem;

$color-reset: #ffffff;
$color: #282828;
$color--light: #505050;
$color--dark: #0D090F;
$color--dark--accent: #968FAC;

$color-alt: #009e4d;
$color-alt--light: #52d07a;
$color-alt--dark: #006e22;

$color-on--light: #000000;
$color-on--dark: #ffffff;

$fontSize: 16px;
$paraSize: 1.5rem;
$paraSize-sm: 1rem;
$paraSize-lg: 1.8rem;

$spacer: 0.5rem;
$lineHeight: 1.8rem;
$letterSpacing: 0.05rem;

$graphColor--1: #7F85FF;
$graphColor--2: #2D36A7;
$graphColor--3: #1882F4;
$graphColor--4: #11134E;
$graphColor--5: #009e4d;
$graphColor--6: #52d07a;