$breakpoint-xs: 0rem;
$breakpoint-sm: 30rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 75rem;
$breakpoint-hd: 100rem;
$breakpoint-mob: 26.25rem;

$color-reset: #ffffff;
$color: #1976d2;
$color--light: #63a4ff;
$color--dark: #004ba0;
$color-alt: #304ffe;
$color-alt--light: #7a7cff;
$color-alt--dark: #0026ca;

$text-color: #000000;
$text-color--dark: #ffffff;

$fontSize: 16px;
$paraSize: 1.5rem;
$paraSize-sm: 1rem;
$paraSize-lg: 1.8rem;

$spacer: 0.5rem;
$lineHeight: 1.8rem;
$letterSpacing: 0.05rem;