@-ms-viewport {
    width: device-width;
}

html,
body,
section,
div {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    font-size: $fontSize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-family: 'Raleway', sans-serif;
    background-color: $color--dark;
    color: $color-on--dark;
}

body {
    font-size: $paraSize;
}